
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.CPG
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.dbf
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.prj
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.sbn
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.sbx
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.shp
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.shx
.Rhistory
.Rproj.user
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2022.CPG
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2022.dbf
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2022.prj
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2022.sbn
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2022.sbx
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2022.shp
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2022.shx


__pycache__
OLD
config.json
*.png
*.html
rosm.cache
map_shapefile_insitu_files
