
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.CPG
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.dbf
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.prj
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.sbn
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.sbx
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.shp
shp/HELCOM_subbasins_with_coastal_WFD_waterbodies_or_watertypes_2018.shx
